In [1]:
import pandas as pd
import numpy as np

In [2]:
countries_full_df = pd.read_csv(
    r"c:\Dev\04. Python\03. XML converter of FDA list\2018Oct25_00-35-06\FDA_DB_COUNTRY_LOC_TABLE_2018Oct25_00-35-06.csv"
)
#Data cleaning
countries_full_df['country'][countries_full_df['country'] == "United States"] = "United States of America"
countries_full_df['country'][countries_full_df['country'] == "Côte D'Ivoire"] = "Côte D'Ivoire"
countries_full_df['country'][countries_full_df['country'] == "Czech Republic"] = "Czechia"
countries_full_df['country'][countries_full_df['country'] == "Réunion"] = "Réunion"

#Issues remaining in the list:
#Côte D'Ivoire - check if this is imported to JS right
#Réunion - same as cote
 

# countries_full_df['country'][countries_full_df['country'] == "United States"] = "United States of America"
# countries_full_df['country'][countries_full_df['country'] == "United States"] = "United States of America"
# countries_full_df['country'][countries_full_df['country'] == "United States"] = "United States of America"
# countries_full_df['country'][countries_full_df['country'] == "United States"] = "United States of America"
# countries_full_df['country'][countries_full_df['country'] == "United States"] = "United States of America"
# countries_full_df['country'][countries_full_df['country'] == "United States"] = "United States of America"

#Congo, The Democratic Republic of the - do not know how to treat this country, so will remove this from the list
countries_full_df = countries_full_df[countries_full_df['country'] != "Congo, The Democratic Republic of the"]

In [3]:
# studies_full_df = pd.read_csv(
#     r"c:\Dev\04. Python\03. XML converter of FDA list\2018Oct25_00-35-06\FDA_DB_MAIN_TABLE_2018Oct25_00-35-06.csv") 
# len(studies_full_df)

In [4]:
# studies_short_df = studies_full_df[::100]
# studies_short_df.to_csv(
#     r"c:\Dev\06. Data\2. FDA_NCTs_CSVs\FDA_DB_MAIN_TABLE_2018Oct25_00-35-06_one_hundredth.csv")
# len(studies_short_df)

In [5]:
# studies_full_df = pd.read_csv(
#     r"c:\Dev\06. Data\2. FDA_NCTs_CSVs\FDA_DB_MAIN_TABLE_2018Oct25_00-35-06_one_hundredth.csv",
#     parse_dates = ["study_first_submitted"])

studies_full_df = pd.read_csv(
    r"c:\Dev\04. Python\03. XML converter of FDA list\2018Oct25_00-35-06\FDA_DB_MAIN_TABLE_2018Oct25_00-35-06.csv",
    parse_dates = ["study_first_submitted"])
len(studies_full_df)

287501

In [6]:
countries_full_df.head()

        nct_id                   country
0  NCT00000102  United States of America
1  NCT00000104  United States of America
2  NCT00000105  United States of America
3  NCT00000106  United States of America
4  NCT00000107  United States of America

In [7]:
countries_list = countries_full_df.country.unique()

In [8]:
countries_studies_subm_date = countries_full_df.merge(
    studies_full_df,
    how="left",
    on="nct_id"
)
countries_studies_subm_date.head()

,nct_id,country,org_study_id,url,brief_title,official_title,source,brief_summary,detailed_description,overall_status,...,phase,study_type,has_expanded_access,allocation,intervention_model,primary_purpose,masking,study_first_submitted,study_first_submitted_qc,last_update_submitted
0,NCT00000102,United States of America,NCRR-M01RR01070-0506,https://clinicaltrials.gov/show/NCT00000102,Congenital Adrenal Hyperplasia: Calcium Channe...,**None**,National Center for Research Resources (NCRR),This study will test the ability of extended r...,This protocol is designed to assess both acute...,Completed,...,Phase 1/Phase 2,Interventional,No,**None**,Parallel Assignment,Treatment,Double,1999-11-03,"November 3, 1999","June 23, 2005"
1,NCT00000104,United States of America,NCRR-M01RR00400-0587,https://clinicaltrials.gov/show/NCT00000104,Does Lead Burden Alter Neuropsychological Deve...,**None**,National Center for Research Resources (NCRR),Inner city children are at an increased risk f...,**None**,Completed,...,**None**,Observational,No,**None**,**None**,**None**,**None**,1999-11-03,"November 3, 1999","June 23, 2005"
2,NCT00000105,United States of America,2002LS032,https://clinicaltrials.gov/show/NCT00000105,Vaccination With Tetanus and KLH to Assess Imm...,Vaccination With Tetanus Toxoid and Keyhole Li...,"Masonic Cancer Center, University of Minnesota",The purpose of this study is to learn how the ...,Patients will receive each vaccine once only c...,Terminated,...,**None**,Observational,No,**None**,**None**,**None**,**None**,1999-11-03,"November 3, 1999","November 27, 2017"
3,NCT00000106,United States of America,NCRR-M01RR03186-9943,https://clinicaltrials.gov/show/NCT00000106,41.8 Degree Centigrade Whole Body Hyperthermia...,**None**,National Center for Research Resources (NCRR),Recently a non-toxic system for whole body hyp...,**None**,Unknown status,...,NaN,Interventional,No,Randomized,Parallel Assignment,Treatment,**None**,2000-01-18,"January 18, 2000","June 23, 2005"
4,NCT00000107,United States of America,NCRR-M01RR00109-0737,https://clinicaltrials.gov/show/NCT00000107,Body Water Content in Cyanotic Congenital Hear...,**None**,National Center for Research Resources (NCRR),Adults with cyanotic congenital heart disease ...,**None**,Completed,...,**None**,Observational,No,**None**,**None**,**None**,**None**,2000-01-18,"January 18, 2000","June 23, 2005"

In [9]:
countries_studies_subm_date.dropna(subset=["url"], inplace=True)
len(countries_studies_subm_date)

424594

In [10]:
countries_studies_subm_date["study_submitted_year"] = countries_studies_subm_date.study_first_submitted.map(
 lambda x: x.year   
)
countries_studies_subm_date.head()

,nct_id,country,org_study_id,url,brief_title,official_title,source,brief_summary,detailed_description,overall_status,...,study_type,has_expanded_access,allocation,intervention_model,primary_purpose,masking,study_first_submitted,study_first_submitted_qc,last_update_submitted,study_submitted_year
0,NCT00000102,United States of America,NCRR-M01RR01070-0506,https://clinicaltrials.gov/show/NCT00000102,Congenital Adrenal Hyperplasia: Calcium Channe...,**None**,National Center for Research Resources (NCRR),This study will test the ability of extended r...,This protocol is designed to assess both acute...,Completed,...,Interventional,No,**None**,Parallel Assignment,Treatment,Double,1999-11-03,"November 3, 1999","June 23, 2005",1999
1,NCT00000104,United States of America,NCRR-M01RR00400-0587,https://clinicaltrials.gov/show/NCT00000104,Does Lead Burden Alter Neuropsychological Deve...,**None**,National Center for Research Resources (NCRR),Inner city children are at an increased risk f...,**None**,Completed,...,Observational,No,**None**,**None**,**None**,**None**,1999-11-03,"November 3, 1999","June 23, 2005",1999
2,NCT00000105,United States of America,2002LS032,https://clinicaltrials.gov/show/NCT00000105,Vaccination With Tetanus and KLH to Assess Imm...,Vaccination With Tetanus Toxoid and Keyhole Li...,"Masonic Cancer Center, University of Minnesota",The purpose of this study is to learn how the ...,Patients will receive each vaccine once only c...,Terminated,...,Observational,No,**None**,**None**,**None**,**None**,1999-11-03,"November 3, 1999","November 27, 2017",1999
3,NCT00000106,United States of America,NCRR-M01RR03186-9943,https://clinicaltrials.gov/show/NCT00000106,41.8 Degree Centigrade Whole Body Hyperthermia...,**None**,National Center for Research Resources (NCRR),Recently a non-toxic system for whole body hyp...,**None**,Unknown status,...,Interventional,No,Randomized,Parallel Assignment,Treatment,**None**,2000-01-18,"January 18, 2000","June 23, 2005",2000
4,NCT00000107,United States of America,NCRR-M01RR00109-0737,https://clinicaltrials.gov/show/NCT00000107,Body Water Content in Cyanotic Congenital Hear...,**None**,National Center for Research Resources (NCRR),Adults with cyanotic congenital heart disease ...,**None**,Completed,...,Observational,No,**None**,**None**,**None**,**None**,2000-01-18,"January 18, 2000","June 23, 2005",2000

In [11]:
#This is a sanity check for the last table
len(countries_studies_subm_date.loc[countries_studies_subm_date.country == "United States" ])

0

In [12]:
grouped_DF = countries_studies_subm_date.groupby(["country", "study_submitted_year"], as_index=False).count()
grouped_DF.head()

,country,study_submitted_year,nct_id,org_study_id,url,brief_title,official_title,source,brief_summary,detailed_description,...,phase,study_type,has_expanded_access,allocation,intervention_model,primary_purpose,masking,study_first_submitted,study_first_submitted_qc,last_update_submitted
0,**None**,1999,309,309,309,309,309,309,309,309,...,277,309,309,309,309,309,309,309,309,309
1,**None**,2000,725,725,725,725,725,725,725,725,...,680,725,725,725,725,725,725,725,725,725
2,**None**,2001,66,66,66,66,66,66,66,66,...,64,66,66,66,66,66,66,66,66,66
3,**None**,2002,202,202,202,202,202,202,202,202,...,194,202,202,202,202,202,202,202,202,202
4,**None**,2003,129,129,129,129,129,129,129,129,...,117,129,129,129,129,129,129,129,129,129

In [13]:
grouped_DF2 = pd.DataFrame([grouped_DF["country"], grouped_DF["study_submitted_year"], grouped_DF["nct_id"]])
groupedDF_transposed = grouped_DF2.T
groupedDF_transposed.head()

    country study_submitted_year nct_id
0  **None**                 1999    309
1  **None**                 2000    725
2  **None**                 2001     66
3  **None**                 2002    202
4  **None**                 2003    129

In [14]:
len(groupedDF_transposed)

2528

,Unnamed: 0,iso2,full_country_name,comment,wiki_link,population,area
0,0,no_code_**none**,**None**,NaN,https://en.wikipedia.org/wiki/United_States,1,1
1,1,af,Afghanistan,NaN,https://en.wikipedia.org/wiki/United_States,1,1
2,2,al,Albania,NaN,https://en.wikipedia.org/wiki/United_States,1,1
3,3,dz,Algeria,NaN,https://en.wikipedia.org/wiki/United_States,1,1
4,4,as,American Samoa,NaN,https://en.wikipedia.org/wiki/United_States,1,1

Empty DataFrame
Columns: [country, study_submitted_year, nct_id, Unnamed: 0, iso2, full_country_name, comment, wiki_link, population, area]
Index: []

In [23]:
len(coded_countries)

2528

In [18]:
countryDF = (groupedDF_transposed.loc[groupedDF_transposed.country == "United States"])
countryDF.head()
# grouped_DF2.describe()

Empty DataFrame
Columns: [country, study_submitted_year, nct_id]
Index: []

In [19]:
countryDF.set_index("study_submitted_year")
countryDF.drop(columns="country")

Empty DataFrame
Columns: [study_submitted_year, nct_id]
Index: []

In [20]:
for country in countries_list:
    countryDF = pd.DataFrame(groupedDF_transposed.loc[groupedDF_transposed.country == country]).\
            set_index("study_submitted_year").\
            drop(columns="country")
#     countryDF.drop(columns=["country"])
    if country == "**None**":
        country = "NONE"
    countryDF.to_json(country+".json", orient="index")