In [2]:
import pandas as pd
import numpy as np

In [11]:
countries_list_from_XML = pd.read_csv(
    r"c:\Dev\05. Jupyter\2. FDA countries clean\csv\countries_codes_31Oct.csv" 
)
countries_list_from_XML.head()

               iso2  nct_id_count         full_country_name
0                us        115915  United States of America
1  no_code_**none**         34242                  **None**
2                fr         20858                    France
3                ca         19231                    Canada
4                de         17629                   Germany

In [16]:
countries_list_from_XML.dtypes

iso2                 object
nct_id_count          int64
full_country_name    object
dtype: object

In [41]:
countries_codes_list = pd.DataFrame(
    countries_list_from_XML.drop(["nct_id_count"], axis=1)
)
countries_codes_list.head()

               iso2         full_country_name
0                us  United States of America
1  no_code_**none**                  **None**
2                fr                    France
3                ca                    Canada
4                de                   Germany

In [42]:
countries_codes_list["comment"] = ""
countries_codes_list["wiki_link"] = r"https://en.wikipedia.org/wiki/United_States"
countries_codes_list["population"] = 1
countries_codes_list["area"] = 1
countries_codes_list = pd.DataFrame(countries_codes_list.sort_values(["full_country_name"]))
# countries_codes_list = countries_codes_list.reindex(range(1, len(countries_codes_list)))
countries_codes_list.reset_index(drop=True, inplace=True)
countries_codes_list.head()

,iso2,full_country_name,comment,wiki_link,population,area
0,no_code_**none**,**None**,,https://en.wikipedia.org/wiki/United_States,1,1
1,af,Afghanistan,,https://en.wikipedia.org/wiki/United_States,1,1
2,al,Albania,,https://en.wikipedia.org/wiki/United_States,1,1
3,dz,Algeria,,https://en.wikipedia.org/wiki/United_States,1,1
4,as,American Samoa,,https://en.wikipedia.org/wiki/United_States,1,1

In [44]:
countries_codes_list.to_csv(
    r"c:\Dev\05. Jupyter\2. FDA countries clean\csv\countries_codes_curated_31Oct.csv"
)