In [1]:
import pandas as pd
import numpy as np

In [2]:
countries_full_df = pd.read_csv(
    r"c:\Dev\04. Python\03. XML converter of FDA list\2018Oct30_00-15-03\FDA_DB_COUNTRY_LOC_TABLE_2018Oct30_00-15-03.csv")

#Data cleaning
countries_full_df['country'][countries_full_df['country'] == "United States"] = "United States of America"
countries_full_df['country'][countries_full_df['country'] == "Congo, The Democratic Republic of the"] = "Congo"
countries_full_df['country'][countries_full_df['country'] == "Czech Republic"] = "Czechia"

In [3]:
counted_countries = countries_full_df.groupby('country').count()

sorted_counted_countries = pd.DataFrame(counted_countries.sort_values(by="nct_id", ascending=False))
sorted_counted_countries.head()

                          nct_id
country
United States of America  115915
**None**                   34242
France                     20858
Canada                     19231
Germany                    17629

In [4]:
countries_codes = pd.read_csv(
    r"c:\Dev\05. Jupyter\2. FDA countries clean\csv\countries_codes_3Nov.csv"
)
countries_codes.head()

,Unnamed: 0,iso2,full_country_name,comment,wiki_link,population,area,flag
0,0,no_code_**none**,**None**,NaN,NaN,-1,-1,-1
1,1,af,Afghanistan,NaN,https://en.wikipedia.org/wiki/Afghanistan,34656032,652864,//upload.wikimedia.org/wikipedia/commons/thumb...
2,2,al,Albania,NaN,https://en.wikipedia.org/wiki/Albania,2876591,28748,//upload.wikimedia.org/wikipedia/commons/thumb...
3,3,dz,Algeria,NaN,https://en.wikipedia.org/wiki/Algeria,42200000,2381741,//upload.wikimedia.org/wikipedia/commons/thumb...
4,4,as,American Samoa,NaN,https://en.wikipedia.org/wiki/American_Samoa,55689,199,//upload.wikimedia.org/wikipedia/commons/thumb...

In [5]:
coded_countries = sorted_counted_countries.merge(countries_codes, 
                            how="left", left_on="country", right_on="full_country_name")
coded_countries.drop(["Unnamed: 0"], axis=1, inplace=True)
coded_countries[coded_countries.full_country_name.isnull()].head()

     nct_id iso2 full_country_name  comment wiki_link  population  area flag
119      39  NaN               NaN      NaN       NaN         NaN   NaN  NaN

In [6]:
coded_countries.rename(columns={"nct_id":"nct_id_count"}, inplace=True)
coded_countries = coded_countries.set_index("iso2")
coded_countries.head()

,nct_id_count,full_country_name,comment,wiki_link,population,area,flag
iso2,,,,,,,
us,115915,United States of America,NaN,https://en.wikipedia.org/wiki/United_States,325719178.0,3796742.0,//upload.wikimedia.org/wikipedia/en/thumb/a/a4...
no_code_**none**,34242,**None**,NaN,NaN,-1.0,-1.0,-1
fr,20858,France,NaN,https://en.wikipedia.org/wiki/France,67348000.0,640679.0,//upload.wikimedia.org/wikipedia/en/thumb/c/c3...
ca,19231,Canada,NaN,https://en.wikipedia.org/wiki/Canada,37067011.0,9984670.0,999
de,17629,Germany,NaN,https://en.wikipedia.org/wiki/Germany,82800000.0,357386.0,//upload.wikimedia.org/wikipedia/en/thumb/b/ba...

In [7]:
len(coded_countries)

204

In [8]:
coded_countries.to_json(r"c:\Dev\05. Jupyter\2. FDA countries clean\csv\countries_trials_1Nov2018.json", 
                 orient="index")